@page "/account"

<PageTitle>Account Details</PageTitle>
<h3>Account Details</h3>

<h4>Welcome Valued Customer</h4>

<p>Here are your previous orders:</p>
<p>There are no previous orders from this account yet.</p>

@code {

}
