@page "/account"

<PageTitle>Account Details</PageTitle>
<section class="bodyContents">

    <h3>Account Details</h3>

    <h3>Welcome Valued Customer</h3>
    <Div Class="backgroundColoring">

    <p>Here are your previous orders:</p>
    <p>There are no previous orders from this account yet.</p>
    </Div>
</section>

@code {

}
