@page "/checkout"
@inject IDbContextFactory<OneShotShopContext> ContextFactory
@inject NavigationManager NavManager
@inject ILogger<CartService> itemLogger
@using Microsoft.EntityFrameworkCore;

@using ShellAndNecklaceAPI
@using ShellAndNecklaceAPI.Data
@using ShellAndNecklaceAPI.Data.DTOs;
@using ShellAndNecklaceAPI.Services;

<h3>Cart</h3>

<Div class="d-grid">
   
</Div>

@code {
    private List<CartDTO> itemlist;
    private CartService dbservice;

    protected override async Task OnInitializedAsync()
    {
        var context = await ContextFactory.CreateDbContextAsync();
        dbservice = new CartService(itemLogger, context);
        itemlist = await dbservice.GetUserCart();

    }
}
