@page "/contact"

<PageTitle>Contact Us</PageTitle>
<section class="bodyContents">

<h3>ContactUs</h3>

<Div Class="backgroundColoring">
    <p>Heidi Bond</p>
    <p>Heidster.b243@gmail.com</p>
    <p>(385) 535-5837</p>
</Div>
</section>

@code {

}
