@page "/"

<PageTitle>Index</PageTitle>
<link rel="stylesheet" href="Carousel.css" />

<header>
    <div>
        Cool Banner with ShotgunShell Heidis first presentation slide
    </div>
    
</header>
<main>
    <div class="gallery">
        <img src="https://picsum.photos/id/1004/400/400" alt="a lovely kiss in the night">
        <img src="https://picsum.photos/id/1013/400/400" alt="a women inside a car">
        <img src="https://picsum.photos/id/1066/400/400" alt="a baby">
        <img src="https://picsum.photos/id/325/400/400" alt="a girl in the forest">
        <img src="https://picsum.photos/id/65/400/400" alt="a girl">
    </div>


    <section class="home-welcome">

        <h3>
            Welcome to ShotGun Shell Stock Little Utah Store!
        </h3>
        <BestProducts/>
    </section>

    <section class="home-about">
        <AboutHeidi/>
    </section>

    <section class="home-reviews">
        <h3>
            Customer Appreciation
        </h3>
        <div class="review">
            <img>
            <p>
                Review 1
            </p>
        </div>
    </section>

</main>

@code
{
    
}
