@page "/"

<PageTitle>Index</PageTitle>

<header>
    <div>
        Cool Banner with ShotgunShell Heidis first presentation slide
    </div>
</header>
<main>
    <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="false" justify-content-center>
        <CarouselSlide Name="1">
            <Image Source="Bracelet.png" Text="Lights image" Display="Display.Block" class="imageHeight" />
        </CarouselSlide>
        <CarouselSlide Name="2">
            <Image Source="shell-logo.jpg" Text="Keyboard image" Display="Display.Block" class="imageHeight" />
        </CarouselSlide>
        <CarouselSlide Name="3">
            <Image Source="fireworks.jpg" Text="Fireworks image" Display="Display.Block" class="imageHeight" />
        </CarouselSlide>
    </Carousel>





    <section class="home-welcome">

        <h3>
            Welcome to ShotGun Shell Stock Little Utah Store!
        </h3>
        <BestProducts/>
    </section>

    <section class="home-about">
        <AboutHeidi/>
    </section>

    <section class="home-reviews">
        <h3>
            Customer Appreciation
        </h3>
        <div class="review">
            <img>
            <p>
                Review 1
            </p>
        </div>
    </section>

</main>

@code
{
    public string selectedSlide = "1";
}
