@page "/"

<PageTitle>Index</PageTitle>
<link rel="stylesheet" href="Carousel.css" />

<header>
    <div>
        Cool Banner with ShotgunShell Heidis first presentation slide
    </div>
    
</header>
<main>
    <div class="gallery">
        <img src="WoodSign.jpg" alt="a lovely kiss in the night">
        <img src="1220WinchesterBlue.jpg" alt="a women inside a car">
        <img src="12WinchesterGold.jpg" alt="a baby">
        <img src="SilverTourquoiseHoops.jpg" alt="a girl in the forest">
        <img src="WoodCutout.jpg" alt="a girl">
    </div>

    <section class="home-welcome">

        <h3>
            Welcome to ShotGun Shell Stock Little Utah Store!
        </h3>
        <BestProducts/>
    </section>

    <section class="home-about">
        <AboutHeidi/>
    </section>

    <section class="home-reviews">
        <h3>
            Customer Appreciation
        </h3>
        <div class="review">
            <img>
            <p>
                Review 1
            </p>
        </div>
    </section>

</main>

@code
{
    
}
