@page "/"

<PageTitle>OneShotStop</PageTitle>
<link rel="stylesheet" href="Carousel.css" />

<main>
    <section class="bodyContents">

    <h3>
        Welcome to One Shot Stop!
    </h3>
    </section>
    <div class="gallery">
        <img src="WoodSign.jpg" alt="WoodSign">
        <img src="1220WinchesterBlue.jpg" alt="1220WinchesterBlue">
        <img src="12WinchesterGold.jpg" alt="12WinchesterGold">
        <img src="SilverTourquoiseHoops.jpg" alt="SilverTourquoiseHoops">
        <img src="WoodCutout.jpg" alt="WoodCutout">
    </div>

    <section class=" bodyContents">

        <section class="home-welcome">

            
            <BestProducts />
        </section>

        <section class="home-about">
            <AboutHeidi />
        </section>

        <section class="home-reviews">
            <h3>
                Customer Appreciation
            </h3>
            <div class="review">
                <img>
                <p>
                    Review 1
                </p>
            </div>
        </section>
    </section>

</main>

@code
{

}
