@page "/review"
@using Microsoft.EntityFrameworkCore
@inject ShellAndNecklaceAPI.Services.ReviewService reviewService
@inject IDbContextFactory<ShellAndNecklaceAPI.Data.OneShotShopContext> contextFactory


<Div Class="bodyContents">
    <h3>Reviews</h3>
    <div class="reviews">
        @for(int i = 0; i < 5; i++) {
            <ItemReview/>
        }
    </div>
</Div>

@code {

}
