<h3 class="topPadding">Who are we? Why did we start?</h3>
<section>

<Image Source="HeidiGoat.jpg" Class="AboutImage owner-icon"></Image>

<p>My name is Heidi. I have spent most of my life in the outdoors, and I love it. I have always been making and building projects with my hands from a young age. After we went trap shooting one day, I was thinking about how we just throw the shells away and so I thought <b>“Why don’t I try to make something out of them”</b>. So that is where I started the idea and it has continued to grow since. My love for the outdoors has helped me find a way to create unique stuff using shotgun shells and wood to create earrings, signs and more.</p>
</section>

@code {

}
