<div class="d-flex justify-content-between gap-4">
    <a name="link1" href="HeidiDog.jpg" class="flex-fill PresenterImg">
        <img src="HeidiDog.jpg" class="heidi-img" />
    </a>
    <a name="link2" href="HeidiGoat.jpg" class="flex-fil PresenterImg">
        <img src="HeidiGoat.jpg" class="heidi-img" />
    </a>
    <a name="link3" href="HeidiRifle.jpg" class="flex-fill PresenterImg">
        <img src="HeidiRifle.jpg" class="heidi-img" />
    </a>
    @*<a name="link4" href="https://google.com" class="flex-fill">
        <img src="fireworks.jpg" class="img-thumbnail"/>
    </a>*@
</div>

@code {

}
