

<h3>Our Best Sellers!</h3>
<div class="d-flex justify-content-between gap-4">
    <a name="link1" href="/store/item/Single%20Winchester%20silver" class="">
        <img src="12WinchesterSilver.jpg" class="heidi-img" />
    </a>
    <a name="link2" href="/store/item/Double%20Remington%20Blue">
        <img src="1220RemingtonBlue.jpg" class="heidi-img" />
    </a>
    <a name="link3" href="/Single%20Winchester%20Gold">
        <img src="12WinchesterGold.jpg" class="heidi-img" />
    </a>
    @*<a name="link4" href="https://google.com" class="flex-fill">
        <img src="fireworks.jpg" class="img-thumbnail"/>
    </a>*@
</div>

@code {

}
