

<h3>Our Best Sellers!</h3>
<div class="d-flex justify-content-between gap-4">
    <a name="link1" class="">
        <img src="12WinchesterSilver.jpg" class="heidi-img" />
    </a>
    <a name="link2" class="">
        <img src="1220WinchesterPlain.jpg" class="heidi-img" />
    </a>
    <a name="link3" class="">
        <img src="BrassKeyChain.jpg" class="heidi-img" />
    </a>
    @*<a name="link4" href="https://google.com" class="flex-fill">
        <img src="fireworks.jpg" class="img-thumbnail"/>
    </a>*@
</div>

@code {

}
