
<div class="review-wrap">
    <div class="review" @onclick="RedirectPage">
        <div class="shell-metal">
             <div class="shell-image-container">
                <img class="shell-image" src="1220WinchesterBlue.jpg" alt="Review Image" />
            </div> 
        </div>
        <div class= "shell-body">
            <p class="review-user">@UserName</p>
            <p class="review-rating">Rating: <span>
                @for(int i = 0; i < FullStars; i++)
                {
                    <i class="bi bi-star-fill"></i>
                }
                @if(HalfStar != 0)
                {
                    <i class="bi bi-star-half"></i>
                }
                </span>
            </p>
            <p class="review-text">@ShortenedReviewText</p>
        </div>
    </div>
    <Popup @ref="popupRef" />
</div>




@code {
    //From 0 to 10, where 9 is 4 full stars and 1 half-star
    [Parameter]
    public int Rating { get; set; } = 5;
    //1-5
    public int FullStars
    {
        get
        {
            // return (int) Math.Floor(Rating);
            return Rating / 2;
        }
    }
    // 0 or 1
    public int HalfStar
    {
        get
        {
            // if (Rating - (int) Rating != 0) return 1;
            // else return 0;
            return Rating % 2;
        }
    }

    private string UserName = "Random User Name";
    public string HeaderUserName
    {
        get
        {
            return "Review from " + UserName;
        }
    }

    [Parameter]
    public string FullReviewText { get; set; } = @"The earings I ordered were perfect and wonderful. Now I can show off the things that my husband and I enjoy, hunting. The wood burned signs were also a very nice feature that we loved as well!";

    public string ShortenedReviewText
    {
        get
        {
            if (FullReviewText is null) return "";

            string[] words = FullReviewText.Split(" ");

            if (words.Length <= 10) return string.Join(" ", words!);
            else return string.Join(" ", words.Take(10)!) + "...";
        }
    }
    private Popup popupRef;

    private void RedirectPage()
    {
        // Shows the popup at the center of the screen
        popupRef.Show(FullReviewText, HeaderUserName);
    }
}

@* explosion: https://speckyboy.com/explosions-in-web-design/ *@