@* can be inserted into any page while the content is loading *@
@* <LoadingPage Message="123 testing"></LoadingPage> *@

<div class="loading-message-container">
    <div>
        <p>@Message</p>
        <p>Please wait while page is loading</p>
    </div>
    <div class="loader"><img class="shell-image" src="shell-edge-stock.jpg" /></div>
</div>

@code{
    [Parameter]
    public string Message { get; set; } = "We are happy you stopped by!";
}
