@inherits LayoutComponentBase

<PageTitle>ShellsAndNecklacesApp</PageTitle>

<div class="page">

    @*Similar to: https://www.drsquatch.com/*@
    <main>

        <div class="top-row px-5 d-flex justify-content-between flex-grow-1 gap-4 direction topnav" >
            <Div class="CompanyName">
                <div class="bg-success"><Image Source="Logo.jpg" class = "business-logo CompanyName"></Image></div>
            </Div>
            <Div name="navbar" class="d-flex">
                <Div><a href="/" Class="nav-button">Home</a></Div>
                <Div>
                    <a href="/store" Class="nav-button">Shop</a>
                    @*<div class="dropdown">
                        <button name="dropdown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                        @onclick="ToggleDrop" aria-haspopup="true" aria-expanded="false">
                            \/
                        </button>   
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>*@
                </Div>
                <Div>
                    <a href="/about" Class="nav-button">About</a>
                </Div>
                <Div>
                    <a href="/review" Class="nav-button">Reviews</a>
                </Div>
                <Div>
                    <a href="/contact" Class="nav-button">Contact Us</a>
                </Div>
            </Div>
            @* <div class="control_wrapper">
                <SfMenu TValue="MenuItem" HamburgerMode="true" ShowItemOnClick="true">
                    <MenuItems>
                        <MenuItem Text="Catalog" Url="/ShopListings"></MenuItem>
                        <MenuItem Separator="true"></MenuItem>
                        <MenuItem Text="Reviews" Url="/review"></MenuItem>
                        <MenuItem Text="Contacts" Url="/contact"></MenuItem>
                        <MenuItem Text="About Us" Url="/about"></MenuItem>
                        <MenuItem></MenuItem>
                        <MenuItem Text="Tools">
                            <MenuItems>
                                <MenuItem Text="Spelling & Grammar"></MenuItem>
                                <MenuItem Text="Customize"></MenuItem>
                                <MenuItem Separator="true"></MenuItem>
                                <MenuItem Text="Options"></MenuItem>
                            </MenuItems>
                        </MenuItem>
                    </MenuItems>
                </SfMenu>
            </div> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool droptoggle = false;

    public string ButtonContent = "Menu";
    public void ToggleDrop()
    {
        droptoggle = droptoggle ? false : true;
    }
}
