@using Syncfusion.Blazor.Navigations
@inherits LayoutComponentBase

<PageTitle>ShellsAndNecklacesApp</PageTitle>

<div class="page">

    @*Similar to: https://www.drsquatch.com/*@
    <main>
        <div class="top-row px-5 d-flex justify-content-between flex-grow-1 gap-4" >
            <div class="control_wrapper">
                <SfMenu TValue="MenuItem" HamburgerMode="true" ShowItemOnClick="true">
                    <MenuItems>
                        <MenuItem Text="Catalog" Url="/ShopListings"></MenuItem>
                        <MenuItem Separator="true"></MenuItem>
                        <MenuItem Text="Reviews" Url="/review"></MenuItem>
                        <MenuItem Text="Contacts" Url="/contact"></MenuItem>
                        <MenuItem Text="About Us" Url="/about"></MenuItem>
                        <MenuItem></MenuItem>
                        <MenuItem Text="Tools">
                            <MenuItems>
                                <MenuItem Text="Spelling & Grammar"></MenuItem>
                                <MenuItem Text="Customize"></MenuItem>
                                <MenuItem Separator="true"></MenuItem>
                                <MenuItem Text="Options"></MenuItem>
                            </MenuItems>
                        </MenuItem>
                    </MenuItems>
                </SfMenu>
            </div>
            <div class="bg-success">One Shot Stop Logo</div>
            
            <div><a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public string ButtonContent = "Menu";
}

@* I'd rather keep it on this page than lose somewhere in site.css *@
<style>
    
    .e-menu-header {
        width: 100%;
        padding-right: 20px;
        background-color: #7b8cfb;
    }
</style>
